{% extends "base.html.twig" %}

{% block title %} Auswertung Quiz {% endblock %}
{% block head %}

{% endblock %}
{% block subtitle %}
    Herzlich Willkommen beim Quiz
{% endblock %}
{% block contentleft %}

        <div class="col-3 w-20 align-self-right">
        </div>

{% endblock %}
{% block buttons %}
                <div class="align-items-center text-center">
                    <label>
                        <a href="https://abfrageprogramm.ddev.site:8443/QuizQuestion">
                            <button class="btn btn-primary">Schnellstart</button>
                        </a>
                    </label>
                </div>
{% endblock %}
