{% extends "base.html.twig" %}

{% block title %} Login Quiz {% endblock %}
{% block head %}

{% endblock %}
{% block subtitle %}
    Herzlich Willkommen beim Quiz
{% endblock %}
{% block contentleft %}
    <script>
        let contentLeft = document.querySelector('#contentLeft');
        document.querySelector('#spacerContentLeft').className = "col-4";
        contentLeft.style.minWidth='30%';
        contentLeft.style.maxWidth='30%';
    </script>
    <div class="row mb-3">
        <div class="col-1"></div>
        <label for="inputUsername" class="col-sm-2 col-form-label" id="labelInputUsername"
               style="visibility: hidden">Username</label>
        <div class="col-7">
            <input type="hidden" name='userName' class="form-control" id="inputUsername"
                   placeholder="Username eingeben">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-1"></div>
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-7">
            <input type="email" name='email' class="form-control" id="inputEmail" placeholder="Email eingeben">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-1"></div>
        <label for="inputEmailValidate" class="col-sm-2 col-form-label" id="labelInputEmailValidate" style="visibility: hidden">Email</label>
        <div class="col-7">
            <input type="hidden" name='emailValidate' class="form-control" id="inputEmailValidate"
                   placeholder="Email wiederholen">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-1"></div>
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-7">
            <input type="password" name='password' class="form-control" id="inputPassword" placeholder="Password">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-1"></div>
        <label for="inputPasswordValidate" class="col-sm-2 col-form-label" id="labelInputPasswordValidate"
               style="visibility: hidden">Password wiederholen</label>
        <div class="col-7">
            <input type="hidden" name='passwordValidate' class="form-control" id="inputPasswordValidate"
                   placeholder="Password">
        </div>
    </div>





{% endblock %}
{% block contentright %}
    <script>
        document.querySelector('#contentRight').className = 'login-contentRight';
        document.querySelector('#contentRight').refresh();
    </script>
{% endblock %}


{% block buttons %}
    <div class="col-3"></div>
    <div class="col-3 text-center">

        <button type="submit" id="confirm" name="loginUser" class="btn btn-primary">Sign in</button>
    </div>
    <div class="col-2 text-center">
        <button type="Button" id="registerUser" name="registerUser" class="btn btn-primary"
                onclick="toggleLoginRegister(this)">go to Register
        </button>
    </div>
    <div class="col-3"></div>
{% endblock %}

