{% extends "base.html.twig" %}

{% block title %} Answer Questions{% endblock %}
{% block head %}
<link href="./assets/css/answerQuestion.css" rel="stylesheet">
<script src="./assets/js/answerQuestion.js"></script>
{% endblock %}
{% block onload %}initAnswerQuestion(){% endblock %}
{% block fornAction %}
    /quizQuestion/answer
{% endblock %}
{% block contentleft %}

    <div id="jsDataAnswerQuestion" data-content="{{ jsData }}" hidden="hidden"></div>
    <div id="jsDataContent" data-content="{{ contentInfo }}" hidden="hidden"></div>
    <div class="row mx-5 pb-2 scrollableQuestion">
        <label class="col bold btn btn-primary rounded-3 shadow btn-lg disabled mx-2 my-4 p-2 w-100 questionLabel" id="questionText">
        </label>
    </div>
    <div id="answersList">
    </div>
{% endblock %}
{% block contentright %}
    <div class="card align-self-center rounded-3 mx-4 my-5 py-3">
        <div class="card-body rounded-3">
            <br>
            <h5 class="card-title">Statistic Question #<span id="statsTitle"></span></h5>
            <br>
            <br>
            <p class="card-text"><span id="statsTimesAsked"></span> times asked</p>
            <br>
            <p class="card-text"><span id="statsTimesRight"></span> times answered correct</p>

            <button type="button" id="clearStatsOfQuestion" data-bs-target="#modal" data-bs-toggle="modal" class="btn btn-warning rounded-3 shadow-sm w-100" >clear Stats</button>
        </div>
    </div>
{% endblock %}
{% block buttons %}
    <div class="col-1 text-center"></div>
    <div class="col-2 text-center">
        <label>
            <input type="submit" name="setPrev" class="btn-lg btn-info shadow-sm"
                   value="previous question" id="prev">
        </label>
    </div>
    <div class="col-3 text-center">
    </div>
    <div class="col-2 text-center">
        <label>
            <input type="submit" name="setNext" class="btn-lg btn-info shadow-sm"
                   value="next question" id="next">
        </label>
    </div>
    <div class="col-4 text-center">
        <label>
            <input type="submit" name="finish" class="btn-lg btn-info shadow-sm"
                   value="finish quiz">
        </label>
    </div>
{% endblock %}

